#chat {
  min-height: 10em;
  list-style: none;
  overflow-y: scroll;
}

#chat li {
  padding: 5px 10px;
}

#chat li:nth-child(odd) {
  background: #eee;
  border-radius: 2px;
}

.room {
  margin-top: 20px;
  float: right;
}

.chatnode {
  margin: 0 auto;
  max-width: 50%;
}

h1 {
  text-align: left;
}

/*[class*="col-"] {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}*/
